<app-toolbar></app-toolbar>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      Solicitante
    </ion-card-header>
    <img src="https://i.pinimg.com/236x/ec/b9/34/ecb9348ae4948ff98a4c175068918e6f.jpg" class="imgWorker">
    <ion-card-content>
      <ion-item>
        <ion-label class="ion-text-center">BARBERÍA</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Barbería Los Tres Hermanos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ocotlán de Morelos, Porfirio Diaz</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>treshermanos&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>9512263315</ion-label>
      </ion-item>
      <div class="icon-container">
        <ion-icon name="close-circle-outline" class="close"></ion-icon>
        <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Trabajador
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Barbería Lopez</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>San Antonio de la Cal</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>lopez&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>9512263315</ion-label>
      </ion-item>
      <div class="icon-container">
        <ion-icon name="close-circle-outline" class="close"></ion-icon>
        <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Solicitante
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Barbería Los Tres Hermanos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ocotlán de Morelos, Porfirio Diaz</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>treshermanos&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>9512263315</ion-label>
      </ion-item>
      <div class="icon-container">
        <ion-icon name="close-circle-outline" class="close"></ion-icon>
        <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Solicitante
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Barbería Los Tres Hermanos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ocotlán de Morelos, Porfirio Diaz</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>treshermanos&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>9512263315</ion-label>
      </ion-item>
      <div class="icon-container">
        <ion-icon name="close-circle-outline" class="close"></ion-icon>
        <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Solicitante
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Barbería Los Tres Hermanos</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Ocotlán de Morelos, Porfirio Diaz</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>treshermanos&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>9512263315</ion-label>
      </ion-item>
      <div class="icon-container">
        <ion-icon name="close-circle-outline" class="close"></ion-icon>
        <ion-icon name="checkmark-circle-outline" class="check"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
