.title {
    text-align: center;
    margin: 20px;
    color: #CC00FF;
    font-weight: 600;
}

.subtitle {
    font-style: italic;
    text-align: center;
    color: #878787;
}

img {
    max-height: 225px;
}

p {
    margin: 30px;
    text-align: justify;
}

.buttonSession {
    --background: #CC00FF;
    color: #fff;
    margin-top: 30px;
}