.title {
    text-align: center;
    font-size: 40px;
    margin-top: 170px;
    margin-bottom: 90px;
    color: #CC00FF;
    font-weight: 800;
}

.buttonSession {
    --background: #CC00FF;
    color: #fff;
    margin-top: 30px;
}

.leyend {
    color: #7d7c7c;
    margin-left: 40px;
}

.background-video {
    position: relative;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

ion-input {
    --highlight-color-focused: purple; /* Cambia el color del texto del label flotante al hacer focus */
    --color-focused: purple; /* Cambia el color de la línea de enfoque a morado */
  
    /* Cambiar el color del texto del label flotante */
    .label-floating.sc-ion-input-md {
      color: purple !important;
    }
  }
  