.title {
    text-align: center;
    font-size: 40px;
    margin-top: 90px;
    margin-bottom: 90px;
    color: #CC00FF;
    font-weight: 800;
}

.buttonSession {
    --background: #CC00FF;
    color: #fff;
    margin-top: 30px;
}

.leyend {
    color: #7d7c7c;
    margin-left: 40px;
}


.leyendTeam {
    color: #7d7c7c;
    margin-left: 50px;
    margin-top: 150px;
}